html
  head
    title Sight Cards
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous", rel='stylesheet')
    link(href="/scripts/game_base.less", rel="stylesheet")

  body
    div.site-wrapper
      div.site-wrapper-inner
        div.cover-container
          div.masthead.clearfix
            div.inner
          div.row.vertical-center
            div.col-6.offset-3.container_box
              div#scene_intro
                div.npc_mast.row
                  div.npc_image.col-2
                    div.npc_avatar
                  div.npc_text.col-10
                    h1 Hello adventurer!
                div.start_game
                    p.call_to_action Help me find the NINE hidden treasure chests. Please match the clues to the words, and we will find where the treasure chests are buried.
                    div#intro_card.row
                      div.col-2.offset-2
                        div.gamecard.half
                      div.col-2
                        div.gamecard.half
                      div.col-2
                        div.gamecard.half
                      div.col-2 
                        div.gamecard.half
              div#scene_home.row
                  div#area_level.col-6
                  div#area_inventory.col-6
              div#scene_game
                div.npc_mast.row
                  div.npc_image.col-2
                    div#card_gui.btn-success.npc_avatar
                  div.npc_text.col-10
                    h1#score Find to the clue
                div.clearfix
                div#card_field.row
              div#scene_loot.row
                div#area_treasure_box.col-3
                div#area_loot_reveal.col-9
                //-div#area_loot_reveal.col-9.row
              div#scene_victory
                div.npc_mast.row
                  div.npc_image.col-2
                    div.npc_avatar
                  div.npc_text.col-10
                    h1 Good job!
                div.row
                  div#victory_showcase.col-10.offset-1
                div#game_over
                  button#play_again.btn.btn-success Play Again




    //-
      h1#score.cover-heading Listen & play
      div.button_test
  //- 
    div.mastfoot
      div.inner
        p A simple proof of concept.

script(src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.7/howler.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.js")
script(src="/scripts/gamerules.js")
script(src="/scripts/gamesetup.js")
script(src="/scripts/tile_level.js")
script(src="/scripts/inventory_item.js")
script(src="/scripts/treasurebox.js")