html
  head
    title=title
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous", rel='stylesheet')
    link(href="/scripts/game_base.less", rel="stylesheet")
    link(href="/scripts/cover.css", rel="stylesheet") 

  body
    div.site-wrapper
      div.site-wrapper-inner
        div.cover-container
          div.masthead.clearfix
            div.inner
              h3.masthead-brand SightCards
              //- nav.nav.nav-masthead
                a(href="#").nav-link.active Home
                a(href="#").nav-link Features
                a(href="#").nav-link Contact
          div
            //- new stuff
            div#container.container.inner.cover
              div#scene_home.row
                div#area_level.col-6
                div#area_inventory.col-6 inventoryx
              div#scene_game
                h1#score.cover-heading Listen & play
                div#card_field
              div#scene_loot
    //-
      h1#score.cover-heading Listen & play
      div.button_test
    div.mastfoot
      div.inner
        p A simple proof of concept.

script(src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.7/howler.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.js")
script(src="/scripts/gamerules.js")
script(src="/scripts/gamesetup.js")
script(src="/scripts/tile_level.js")