body {
	background-color: #333;
	//background-image: url("/assets/images/textured_paper.png");
	background-image: url("/assets/images/grey_wash_wall.png");
}

.clearfix {
	clear: both;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.level_btn {
	margin: 14px;
}

#scene_home {
	border: 3px solid #333;
}

#scene_loot {
	border: 3px solid #333;
	background-image: url("/assets/images/desert_tile.png");
}

#area_level {
	//background-color: #444;
	padding:10px;
	//background-image: url("/assets/images/desert_tile.png");
	//background-image: url("/assets/images/textured_paper.png");
}

#area_inventory {
	padding: 10px;
	//background-color: purple;
	//background-image: url("/assets/images/grey_wash_wall.png");
}

.loot_sprite {
	border: 1px dashed #999;
	width: 42px;
	height: 42px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #333;
	margin: 8px 8px;
	float: left;
    box-shadow: 2px 2px #444;
}

.treasure_box {
	width: 90px;
	height: 90px;
	//background-size: 90px 90px;
	background-repeat: no-repeat;
	//background-position: center;
	margin: 20px 4px;
	float: left;
	background-position: 0px -90px; //default to closed
}

.treasure_box_card {
	border: 1px dashed #999;
	background-color: #333;
}

.treasure_box_1 {
	background-image: url("/assets/images/treasurebox_sprites/box1.png");
}

.treasure_box_hero_sprite {
	width: 90px;
	height: 90px;
	background-repeat: no-repeat;
	background-position: 0px -90px;
	//background-color: #333;
	margin: 20px;
}

.opened {
	background-position: 0px 0px;
}


.reward_loot_slot {
	width: 90px;
	height: 90px;
	background-size: 90px 90px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #999;
	border: 3px dashed #333;
	margin: 20px 0;
	position: absolute;
	//right:0;
	left: 400;
	//float: left;
}

.gamecard {
	background-image: url("/assets/images/landscape_tiles/painted_terrain_tiles_desert_sheet1.png");
	width: 128px;
	height: 192px;
	margin: 0 10px;
	background-repeat: no-repeat;
	background-size: 1024px 1020px;
	padding-top: 100px;
	text-align: center;
	//256x384 //bg size
}

.gamecard.half {
	width: 64px;
	height: 96px;
	background-size: 512px 510px;
	padding-top: 50px;
}

.gamecard a {
	padding: 20px 10px;
	font-size: 32px;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	text-shadow: 4px 4px #663333;
}

.gamecard a:hover {
	text-decoration: none;
	background-color:  #333;
	background-color:  rgba(25, 0, 0, 0.5);
}

.card_btn {
	//border: 1px solid red;
}

.card_btn_dead {
	color: #777;
	background-color:  rgba(100, 50, 50, 0.5);
}

.card_btn:hover {
	background-color:  #333;
	background-color:  rgba(25, 0, 0, 0.5);
}

.shovel {
	background-image: url("/assets/images/sprites/modern_91_t.PNG");
}

.good_point {
	background-image: url("/assets/images/sprites/modern_91_t.PNG");
	background-repeat: no-repeat;
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	margin: 20px 0 0 20px;
	float: left;
	font-size: 0;
}

.npc_mast {
	margin: 0 0 10px 0;
}

.npc_tile {
	height: 64px;
	width: 64px;
	background-image: url("/assets/images/professor_desert.png");
	border: 2px solid #663333;
}

.npc_mast p {
	//margin-bottom: 0px;
	text-align: justify;
}

.npc_mast .npc_text {
	font-size: 22px;
	text-align: left;
	color: #FFF;
	font-weight: normal;
	text-shadow: 2px 2px #663333;
	margin-bottom: 0px;
}

#score {
	height: 40px;
}	

.start_game .start_button {
	background-image: url("/assets/images/sprites/modern_91_t.PNG");
	background-repeat: no-repeat;
	background-size: 64px 64px;
	width: 64px;
	height: 64px;
}

.intro_npc .npc_tile {
	float: left;
	margin: 0 20px 10px 0;
}

#box_ring {
	position: fixed;
	top: 50%;
	left: 50%;
}

#box_ring .npc_tile {
	margin-left: -32px;
	margin-top: -32px;
}