body {
	background-color: #333;
	background-image: url("/assets/images/textured_paper.png");
}

#scene_home {
	border: 3px solid #333;
}

#area_level {
	background-color: #444;
	padding:10px;
}

#area_inventory {
	padding: 10px;
	background-color: purple;
	background-image: url("/assets/images/grey_wash_wall.png");
}

.loot_sprite {
	border: 1px dashed #999;
	width: 34px;
	height: 34px;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #333;
	margin: 2px;
	float: left;
    box-shadow: 2px 2px #444;
}